* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #f3f6f9;
}

.container {
  display: flex;
  gap: 25px;
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}


.form-box {
  width: 30%;
}
label{
  font-weight: 400;
}

.form-box h2 {
  margin-top: 5px;
  margin-bottom: 15px;
}


.form-box label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  
}

.form-box input,
.form-box select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}


.submit {

float: right;
  padding: 10px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 13px;
  border-radius: 5px;
  cursor: pointer;
}

.form-box button:hover {
  background: #0056b3;
}


.table-box {
  width: 80%;
}

.table-value{
  border-radius: 10px;
  border: 2px solid rgb(111, 115, 118);
}
.table-box h2 {
  margin-top: 5px;
  margin-bottom: 15px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
 border-bottom: 1px solid #eee;
  padding: 10px;
  font-size: 14px;
}

td {
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

.actions button {
  font-weight: bolder;
  padding-left: 0;
  border: none;
  margin-right: 0;
  cursor: pointer;
  color: black;
 align-items: center;
  background-color: transparent;

}

.actions .edit{
 border-right: 3px solid black;
}
.action .delete {
  color: #dc3545;
}
